# Created by https://www.toptal.com/developers/gitignore/api/swiftpm,swiftpackagemanager,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpm,swiftpackagemanager,xcode

### SwiftPackageManager ###
Packages
.build/
xcuserdata
DerivedData/


### SwiftPM ###


### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/swiftpm,swiftpackagemanager,xcode
.DS_Store
